/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */
   
/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   willl be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */


:root {
   --Kleur1: rgb(102, 102, 102);
   --Kleur2:  rgb(53, 52, 52);
}

main {
   align-items: center;
}



body {
   padding: 0;
   margin: 0;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto 1fr auto;
   grid-template-areas:
   "Header"
   "Nav"
   "main"
   "Footer";
   background-image: url(Fotos/Sterren2.jpeg);
   background-size:cover;
}


.ZijdwaardseFoto {
   width: 300px;
   height: 200px;
}

h1 {
   text-align: center;
}

.NavBar ul {
   list-style-type: none;
   padding: 0px;
   margin-left: 20px;
   margin-right: 20px;
   background-color: var(--Kleur2);
   overflow: hidden;
   font-family: Arial;
   border-color: black;
   border-style: solid;
   border-radius: 100px;
}

.NavBar a {
   color: white;
   text-decoration: none;
   padding: 15px;
   display: block;
   text-align: center;
   transition: background-color 0.15s, color 0.15s, underline 0.15s, padding-left 0.15s, padding-right 0.15s;
}

.NavBar a:hover{
   background-color: rgb(255, 255, 255);
   color: black;
   text-decoration: underline;
   padding-left: 20px;
   padding-right: 20px;
}

.NavBar li {
   float: left
}



header {
   text-align: center;
   font-size: 30px;
   margin-bottom: 10px;
}


  .Titel1 {
    text-align: center;
    font-family: Arial;
    text-decoration: underline;
    color: white;
    font-size: 25px;
  }

  .Text1 {
    font-family: Arial;
    background-color: rgb(160, 160, 160);
   /* width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;*/
  }

.MainSection {
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   justify-content: center;
}

.BasisArticle {
   background-color: rgb(255, 255, 255);
   width: 60%;
   height: 250px;
   margin-bottom: 40px;
   border-style: solid;
   border-color: var(--Kleur2);
   border-radius: 5px;
   display: flex;
   flex-direction: row;
   gap: 10px;

   animation: ElementVerschijn, linear;
   animation-timeline: view();
   animation-range: entry 0% cover 40%;
   transition: border-radius 0.15s, border-width 0.15s, scale 0.15s;
}

.BasisArticle:hover {
   border-radius: 20px;
   border-width: 4px;
   scale: 1.1;
}


.BasisArticle {
   display: flex;

}

.Left {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50%;
}

.Left p {
   text-align: left;
   margin-top: 0%;
   font-family: Arial;
   margin-left: 5%;
   margin-right: 5%;
}

.Left h3 {
   font-weight:bolder;
   font-family: arial;
   margin-left: 1%;
   margin-right: 1%;
   margin-top: 5%;
   margin-bottom: 1%;
}

.right {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: flex-end;
   width: 50%;
}

.right img{
   margin-left: 15%;
   margin-right: 15%;
   width: 325px;
   height: 200px;
   border-radius: 10px;
}

/*Fotodraaien onderaan de pagina van de home met mijn lieve katten :D */

.FotoColageDraaidingetje {
   margin: 100px auto;
   width: 1200px;
   display: flex;
   overflow-x: auto;
   border-style: solid;
   border-color: var(--Kleur2);
   border-width: 5px;
   background-image: url(Fotos/GrassMetLucht.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 10%;
}

.FotoColageDraaidingetje::-webkit-scrollbar {
   display: none;
}

.groep {
   display: flex;
   align-items: center;
   justify-content: center;

   gap: 100px;
   padding-right: 100px;
  
   animation: SpinDeFotos 25s infinite linear;
}

.FotoKaart {
  width: 200px;
  height: 150px;
   
   background-color: white;
   border-radius: 10px;
   font-size: 24px;
   box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.552);
   text-align: center;
   align-content: center;
   transition: scale 0.15s;
}

.FotoKaart:hover {
   scale: 1.1;
   cursor: grab;
}

.FotoKaart:active {
   scale: 1.5;
   cursor: grabbing;
}


/* Animaties */

@keyframes Spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@keyframes HoverUpAndDown {
   0% {
      transform: translateY(0);
   }

   50% {transform: translateY(-5px);
   }

   100% {transform: translateY(0);
   }
}

@keyframes ElementVerschijn {
   from {
         opacity: 0;
         scale: 0.5;
        }
   to {
         opacity: 1;
         scale: 1;
   }

}

@keyframes SpinDeFotos {
   from {translate: 0;}
   to {translate: -100%;}
}

/* Shrek en Logo */

.Logo:hover {
   cursor: crosshair;
   padding: 10px;
   animation: Spin 10s linear infinite;
}

.Logo{
   animation: HoverUpAndDown 2s linear infinite;
   transition: Padding 3s;
}

.Shrek {
   animation: Spin 10s linear infinite;
}

.Shrek:hover {
   cursor: grab;
}

.Shrek:active {
   cursor:grabbing;
   animation: Spin 0.1s linear infinite;
}

/* Footer */

footer {
   padding: 0;
   background-color: rgb(0, 162, 255);
   color: white;
   text-align: center;
}

